.o-grid__cell
  .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
    .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
      .o-stack.o-stack--center.o-stack--splitted
        .o-stack__cell
          h5 Notifications
        .o-stack__cell
          .u-relative( dropdown='' )
            .fn-dropdownTrigger
              a(href='javascript:void(0)' class='c-icon c-icon--main u-color-minor u-opacity-50p') more_vert

            ul.c-menu.c-menu--dropdown.u-r-none
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Projects
              li.c-menu__separator
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Tasks
                  span.c-badge.c-menu__badge(data-badge="15")
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Calendar
              li.c-menu__separator
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Lock


    .c-portlet__content.o-block__cell.u-p-small
      //- Content
      .c-notifications._u-pb-small
        .o-stack.o-stack--nowrap.u-border-left
          .o-stack__cell.u-mr-small.u-lh-normal
            a(href='javascript:void(0)' class='c-status c-status--error u-lh-normal')
          .o-stack__cell--expanded
            .o-stack.o-stack--nowrap.o-stack--center.o-stack--splitted.u-width-100p.u-mb-mini
              .o-stack__cell.o-stack__cell--expanded.u-lh-normal
                span.u-block.u-lh-normal.u-font-small.u-color-omitted 1 Minute Ago
              .o-stack__cell.u-lh-normal
                span.c-label.c-label--error server
            p
              a(href='javascript:void(0)' class='c-link') Lorem
              | &nbsp; Ipsum is simply dummy text of the printing...

        .o-stack.o-stack--nowrap.u-border-left
          .o-stack__cell.u-mr-small.u-lh-normal
            a(href='javascript:void(0)' class='c-status c-status--success u-lh-normal')
          .o-stack__cell--expanded
            .o-stack.o-stack--nowrap.o-stack--center.o-stack--splitted.u-width-100p.u-mb-mini
              .o-stack__cell.o-stack__cell--expanded.u-lh-normal
                span.u-block.u-lh-normal.u-font-small.u-color-omitted 1 Hour Ago
              .o-stack__cell.u-lh-normal
                span.c-label.c-label--success Customers
            p
              a(href='javascript:void(0)' class='c-link') Lorem
              | &nbsp; Ipsum is simply dummy text of the printing...


        .o-stack.o-stack--nowrap.u-border-left
          .o-stack__cell.u-mr-small.u-lh-normal
            a(href='javascript:void(0)' class='c-status c-status--warning u-lh-normal')
          .o-stack__cell--expanded
            .o-stack.o-stack--nowrap.o-stack--center.o-stack--splitted.u-width-100p.u-mb-mini
              .o-stack__cell.o-stack__cell--expanded.u-lh-normal
                span.u-block.u-lh-normal.u-font-small.u-color-omitted 2 Hours Ago
              .o-stack__cell.u-lh-normal
                span.c-label.c-label--warning Sales
            p
              a(href='javascript:void(0)' class='c-link') Lorem
              | &nbsp; Ipsum is simply dummy.
        .o-stack.o-stack--nowrap.u-border-left
          .o-stack__cell.u-mr-small.u-lh-normal
            a(href='javascript:void(0)' class='c-status c-status--error u-lh-normal')
          .o-stack__cell--expanded
            .o-stack.o-stack--nowrap.o-stack--center.o-stack--splitted.u-width-100p.u-mb-mini
              .o-stack__cell.o-stack__cell--expanded.u-lh-normal
                span.u-block.u-lh-normal.u-font-small.u-color-omitted 1 Minute Ago
              .o-stack__cell.u-lh-normal
                span.c-label.c-label--error server
            p
              a(href='javascript:void(0)' class='c-link') Lorem
              | &nbsp; Ipsum is simply dummy text of the printing...

        .o-stack.o-stack--nowrap.u-border-left
          .o-stack__cell.u-mr-small.u-lh-normal
            a(href='javascript:void(0)' class='c-status c-status--success u-lh-normal')
          .o-stack__cell--expanded
            .o-stack.o-stack--nowrap.o-stack--center.o-stack--splitted.u-width-100p.u-mb-mini
              .o-stack__cell.o-stack__cell--expanded.u-lh-normal
                span.u-block.u-lh-normal.u-font-small.u-color-omitted 1 Hour Ago
              .o-stack__cell.u-lh-normal
                span.c-label.c-label--success Customers
            p
              a(href='javascript:void(0)' class='c-link') Lorem
              | &nbsp; Ipsum is simply dummy text of the printing...


        .o-stack.o-stack--nowrap.u-border-left
          .o-stack__cell.u-mr-small.u-lh-normal
            a(href='javascript:void(0)' class='c-status c-status--warning u-lh-normal')
          .o-stack__cell--expanded
            .o-stack.o-stack--nowrap.o-stack--center.o-stack--splitted.u-width-100p.u-mb-mini
              .o-stack__cell.o-stack__cell--expanded.u-lh-normal
                span.u-block.u-lh-normal.u-font-small.u-color-omitted 2 Hours Ago
              .o-stack__cell.u-lh-normal
                span.c-label.c-label--warning Sales
            p
              a(href='javascript:void(0)' class='c-link') Lorem
              | &nbsp; Ipsum is simply dummy.




