.o-grid__cell
  .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
    .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
      .o-stack.o-stack--center.o-stack--splitted
        .o-stack__cell
          h5 Review Box
        .o-stack__cell
          .u-relative( dropdown='' )
            .fn-dropdownTrigger
              a(href='javascript:void(0)' class='c-icon c-icon--main u-color-minor u-opacity-50p') more_vert

            ul.c-menu.c-menu--dropdown.u-r-none
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Projects
              li.c-menu__separator
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Tasks
                  span.c-badge.c-menu__badge(data-badge="15")
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Calendar
              li.c-menu__separator
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Lock


    .c-portlet__content.o-block__cell
      .o-block.u-width-100p._u-width-100p.u-p-small.u-border-bottom
        .o-block__cell
          .o-stack.o-stack--center.o-stack--splitted
            .o-stack__cell
              h4 John Doe
              span.u-color-omitted Feb 01, 3030

            .o-stack__cell.u-mt-mini
              form
                fieldset.c-rating.u-ml-mini
                  input#rating-005.c-rating__input(type='radio' name='rating' value='5' checked)
                  label.c-rating__star(for='rating-005' title='Awesome') 5 stars
                  input#rating-004.c-rating__input(type='radio' name='rating' value='4')
                  label.c-rating__star(for='rating-004' title='Pretty Good') 4 stars
                  input#rating-003.c-rating__input(type='radio' name='rating' value='3' )
                  label.c-rating__star(for='rating-003' title='Good') 3 stars
                  input#rating-002.c-rating__input(type='radio' name='rating' value='2')
                  label.c-rating__star(for='rating-002' title='Bad') 2 stars
                  input#rating-001.c-rating__input(type='radio' name='rating' value='1')
                  label.c-rating__star(for='rating-001' title='Sucks') 1 star



        .o-block__cell
          p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.



      .o-block.u-width-100p._u-width-100p.u-p-small.u-border-bottom
        .o-block__cell
          .o-stack.o-stack--center.o-stack--splitted
            .o-stack__cell
              h4 John Doe
              span.u-color-omitted Feb 01, 3030

            .o-stack__cell.u-mt-mini
              form
                fieldset.c-rating.u-ml-mini
                  input#rating-05.c-rating__input(type='radio' name='rating' value='5')
                  label.c-rating__star(for='rating-05' title='Awesome') 5 stars
                  input#rating-04.c-rating__input(type='radio' name='rating' value='4')
                  label.c-rating__star(for='rating-04' title='Pretty Good') 4 stars
                  input#rating-03.c-rating__input(type='radio' name='rating' value='3' checked)
                  label.c-rating__star(for='rating-03' title='Good') 3 stars
                  input#rating-02.c-rating__input(type='radio' name='rating' value='2')
                  label.c-rating__star(for='rating-02' title='Bad') 2 stars
                  input#rating-01.c-rating__input(type='radio' name='rating' value='1')
                  label.c-rating__star(for='rating-01' title='Sucks') 1 star



        .o-block__cell
          p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.







      .o-block.u-width-100p._u-width-100p.u-p-small
        .o-block__cell
          .o-stack.o-stack--center.o-stack--splitted
            .o-stack__cell
              h4 John Doe
              span.u-color-omitted Feb 01, 3030

            .o-stack__cell.u-mt-mini
              form
                fieldset.c-rating.u-ml-mini
                  input#rating-5.c-rating__input(type='radio' name='rating' value='5')
                  label.c-rating__star(for='rating-5' title='Awesome') 5 stars
                  input#rating-4.c-rating__input(type='radio' name='rating' value='4')
                  label.c-rating__star(for='rating-4' title='Pretty Good') 4 stars
                  input#rating-3.c-rating__input(type='radio' name='rating' value='3' checked)
                  label.c-rating__star(for='rating-3' title='Good') 3 stars
                  input#rating-2.c-rating__input(type='radio' name='rating' value='2')
                  label.c-rating__star(for='rating-2' title='Bad') 2 stars
                  input#rating-1.c-rating__input(type='radio' name='rating' value='1')
                  label.c-rating__star(for='rating-1' title='Sucks') 1 star



        .o-block__cell
          p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.




