.o-grid__cell
  .c-portlet.u-bg-main.u-shadow-mini
    .c-portlet__header.o-stack.o-stack--center.o-stack--splitted.u-border-bottom.u-px-small.u-py-mini
      .o-stack__cell
        h5 Browser Stats
      .o-stack__cell
        .o-stack.o-stack--center.o-stack--nowrap.o-stack--tinyGap.u-font-small
          .o-stack__cell.u-relative
            a(href='javascript:void(0)' class='c-icon c-icon--main u-color-minor u-opacity-50p') refresh
          .o-stack__cell.u-relative( dropdown='' )
            .fn-dropdownTrigger
              a(href='javascript:void(0)' class='c-icon c-icon--main u-color-minor u-opacity-50p') settings

            ul.c-menu.c-menu--dropdown.u-r-none
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Projects
              li.c-menu__separator
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Tasks
                  span.c-badge.c-menu__badge(data-badge="15")
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Calendar
              li.c-menu__separator
              li.c-menu__item
                a.c-menu__link(href='javascript:void(0)')
                  span.c-menu__text Lock
          .o-stack__cell.u-relative
            a(href='javascript:void(0)' class='c-icon c-icon--main u-color-minor u-opacity-50p') clear

    .c-portlet__content.u-p-small
      .o-stack.o-stack--splitted._u-mb-small
        .o-stack__cell
          p Last 6 Month Browser Usage.

        .o-stack__cell.u-relative( dropdown='' )
          .fn-dropdownTrigger
            a(href='javascript:void(0)' class='c-button c-button--small c-button--primary u-radius-rounded')
              span Actions
              i.c-icon.c-icon--main expand_more

          ul.c-menu.c-menu--dropdown(class='u-r-none@sm+')
            li.c-menu__item
              a.c-menu__link(href='javascript:void(0)')
                span.c-menu__text Projects
            li.c-menu__separator
            li.c-menu__item
              a.c-menu__link(href='javascript:void(0)')
                span.c-menu__text Tasks
                span.c-badge.c-menu__badge(data-badge="15")
            li.c-menu__item
              a.c-menu__link(href='javascript:void(0)')
                span.c-menu__text Calendar
            li.c-menu__separator
            li.c-menu__item
              a.c-menu__link(href='javascript:void(0)')
                span.c-menu__text Lock

      #area-chart(style="height: 250px;" flot='' flot-resize='true' flot-data-url='views/scenes/charts/data/flot/area.json')

    .c-portlet__footer.o-stack(class='_u-6/12 _u-width-100@sm- _u-p-small')
      .o-stack__cell.u-border-top.u-border-right
        .o-stack.o-stack--center.o-stack--nowrap.o-stack--splitted
          .o-stack__cell
            h5 Chrome
            h3 55%
          .o-stack__cell.u-color-error
            span.u-mr-tiny -2%
            span.c-icon.c-icon--main trending_down


      .o-stack__cell.u-border-top
        .o-stack.o-stack--center.o-stack--nowrap.o-stack--splitted
          .o-stack__cell
            h5 Firefox
            h3 45%
          .o-stack__cell.u-color-success
            span.u-mr-tiny +10%
            span.c-icon.c-icon--main trending_up
