.o-grid__cell
  .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main.u-radius-tiny.u-mb-small
    .c-portlet__content
      .o-stack.o-stack--center.o-stack--splitted.u-p-small
        .o-stack__cell
          h3 43%
          p Server Up Time
        .o-stack__cell
          a(href='javascript:void(0)' class='c-button c-button--icon c-button--primary u-radius-circle') done









  .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main.u-radius-tiny
    .c-portlet__content
      .o-stack.o-stack--center.o-stack--splitted.u-p-small
        .o-stack__cell
          h3 100%
          p Booking
        .o-stack__cell
          a(href='javascript:void(0)' class='c-button c-button--icon c-button--error u-radius-circle') notifications




