
//- ----------------------------------------------
//- $Table of Contents
//- ----------------------------------------------

//-
  + $Preloader
  + $Vendor Scripts
  + $Blank View Scripts
  + $Helpers View Scripts
  + $Icons View Scripts
  + $Dashboard View Scripts
  + $Invoice View Scripts
  + $Maps View Scripts
  + $Portlets View Scripts
  + $Profile View Scripts
  + $Sliders View Scripts
  + $Tables View Scripts
  + $Widgets View Scripts
  + $Buttons View Scripts
  + $Calendar View Scripts
  + $Chat View Scripts
  + $Todo View Scripts
  + $Email View Scripts
  + $Charts View Scripts
  + $Forms View Scripts
  + $Grid View Scripts
  + $App Core Scripts
  + $Shared Components Scripts

//- ----------------------------------------------
//- $Colors
//- ----------------------------------------------

//- script(src='app.colors-dark-black.js' type='text/javascript')
script(src='app.colors-dark.js' type='text/javascript')
//- script(src='app.colors-light.js' type='text/javascript')

//- ----------------------------------------------
//- $Preloader
//- ----------------------------------------------

// build:js app.min.js

script(src='scaffolding/scripts/vendor/please-wait.min.js' type='text/javascript')
script(src='scaffolding/scripts/custom/loader.js' type='text/javascript')

//- ----------------------------------------------
//- $Vendor Scripts
//- ----------------------------------------------

script(src='scaffolding/scripts/vendor/jquery-1.12.4.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/angular.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/angular-animate.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/angular-ui-router.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/angular-notify.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/angular-local-storage.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/jquery-ui.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/masonry.pkgd.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/moment.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/fullcalendar.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/ion.rangeSlider.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/perfect-scrollbar.jquery.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/toggles-switches.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/jquery.dataTables.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/wysihtml5/wysihtml5.rules.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/wysihtml5/wysihtml5-0.4.0pre.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/jqvmap/jquery.vmap.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/jqvmap/maps/jquery.vmap.world.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/jqvmap/maps/jquery.vmap.usa.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/jqvmap/maps/jquery.vmap.canada.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/jqvmap/maps/jquery.vmap.sampledata.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/jqvmap/maps/continents/jquery.vmap.australia.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/jqvmap/maps/continents/jquery.vmap.europe.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/flot/jquery.flot.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/flot/jquery.flot.pie.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/flot/jquery.flot.tooltip.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/flot/jquery.flot.tickrotor.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/flot/jquery.flot.orderBars.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/flot/jquery.flot.spline.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/jquery.easypiechart.min.js' type='text/javascript')
script(src='scaffolding/scripts/vendor/jquery.sparkline.retina.js' type='text/javascript')

//- ----------------------------------------------
//- $Blank View Scripts
//- ----------------------------------------------

script(src='views/scenes/blank/blank.module.js' type='text/javascript')
script(src='views/scenes/blank/blank.config.js' type='text/javascript')
script(src='views/scenes/blank/blank.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Helpers View Scripts
//- ----------------------------------------------

script(src='views/scenes/helpers/helpers.module.js' type='text/javascript')
script(src='views/scenes/helpers/helpers.config.js' type='text/javascript')
script(src='views/scenes/helpers/helpers.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Icons View Scripts
//- ----------------------------------------------

script(src='views/scenes/icons/icons.module.js' type='text/javascript')
script(src='views/scenes/icons/icons.config.js' type='text/javascript')
script(src='views/scenes/icons/icons.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Dashboard View Scripts
//- ----------------------------------------------

script(src='views/scenes/dashboard/dashboard.module.js' type='text/javascript')
script(src='views/scenes/dashboard/dashboard.config.js' type='text/javascript')
script(src='views/scenes/dashboard/dashboard.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Invoice View Scripts
//- ----------------------------------------------

script(src='views/scenes/invoice/invoice.module.js' type='text/javascript')
script(src='views/scenes/invoice/invoice.config.js' type='text/javascript')
script(src='views/scenes/invoice/invoice.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Maps View Scripts
//- ----------------------------------------------

script(src='views/scenes/maps/maps.module.js' type='text/javascript')
script(src='views/scenes/maps/maps.config.js' type='text/javascript')
script(src='views/scenes/maps/maps.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Portlets View Scripts
//- ----------------------------------------------

script(src='views/scenes/portlets/portlets.module.js' type='text/javascript')
script(src='views/scenes/portlets/portlets.config.js' type='text/javascript')
script(src='views/scenes/portlets/portlets.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Profile View Scripts
//- ----------------------------------------------

script(src='views/scenes/profile/profile.module.js' type='text/javascript')
script(src='views/scenes/profile/profile.config.js' type='text/javascript')
script(src='views/scenes/profile/profile.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Sliders View Scripts
//- ----------------------------------------------

script(src='views/scenes/sliders/sliders.module.js' type='text/javascript')
script(src='views/scenes/sliders/sliders.config.js' type='text/javascript')
script(src='views/scenes/sliders/sliders.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Tables View Scripts
//- ----------------------------------------------

script(src='views/scenes/tables/tables.module.js' type='text/javascript')
script(src='views/scenes/tables/tables.config.js' type='text/javascript')
script(src='views/scenes/tables/tables.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Widgets View Scripts
//- ----------------------------------------------

script(src='views/scenes/widgets/widgets.module.js' type='text/javascript')
script(src='views/scenes/widgets/widgets.config.js' type='text/javascript')
script(src='views/scenes/widgets/widgets.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Buttons View Scripts
//- ----------------------------------------------

script(src='views/scenes/buttons/buttons.module.js' type='text/javascript')
script(src='views/scenes/buttons/buttons.config.js' type='text/javascript')
script(src='views/scenes/buttons/buttons.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Calendar View Scripts
//- ----------------------------------------------

script(src='views/scenes/calendar/calendar.module.js' type='text/javascript')
script(src='views/scenes/calendar/calendar.config.js' type='text/javascript')
script(src='views/scenes/calendar/calendar.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Chat View Scripts
//- ----------------------------------------------

script(src='views/scenes/chat/chat.module.js' type='text/javascript')
script(src='views/scenes/chat/chat.config.js' type='text/javascript')
script(src='views/scenes/chat/chat.controller.js' type='text/javascript')
script(src='views/scenes/chat/components/persons/persons.controller.js' type='text/javascript')
script(src='views/scenes/chat/components/conversation/conversation.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Todo View Scripts
//- ----------------------------------------------

script(src='views/scenes/todo/todo.module.js' type='text/javascript')
script(src='views/scenes/todo/todo.config.js' type='text/javascript')
script(src='views/scenes/todo/todo.factory.js' type='text/javascript')
script(src='views/scenes/todo/todo.directive.js' type='text/javascript')
script(src='views/scenes/todo/todo.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Email View Scripts
//- ----------------------------------------------

script(src='views/scenes/email/email.module.js' type='text/javascript')
script(src='views/scenes/email/email.config.js' type='text/javascript')
script(src='views/scenes/email/email.controller.js' type='text/javascript')
script(src='views/scenes/email/components/navbar/navbar.controller.js' type='text/javascript')
script(src='views/scenes/email/components/compose/compose.config.js' type='text/javascript')
script(src='views/scenes/email/components/compose/compose.controller.js' type='text/javascript')
script(src='views/scenes/email/components/inbox/inbox.config.js' type='text/javascript')
script(src='views/scenes/email/components/inbox/inbox.controller.js' type='text/javascript')
script(src='views/scenes/email/components/message/message.config.js' type='text/javascript')
script(src='views/scenes/email/components/message/message.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Charts View Scripts
//- ----------------------------------------------

script(src='views/scenes/charts/charts.module.js' type='text/javascript')
script(src='views/scenes/charts/charts.config.js' type='text/javascript')
script(src='views/scenes/charts/charts.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Forms View Scripts
//- ----------------------------------------------

script(src='views/scenes/forms/forms.module.js' type='text/javascript')
script(src='views/scenes/forms/forms.config.js' type='text/javascript')
script(src='views/scenes/forms/forms.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $Grid View Scripts
//- ----------------------------------------------

script(src='views/scenes/grid/grid.module.js' type='text/javascript')
script(src='views/scenes/grid/grid.config.js' type='text/javascript')
script(src='views/scenes/grid/grid.controller.js' type='text/javascript')

//- ----------------------------------------------
//- $App Core Scripts
//- ----------------------------------------------

script(src='scaffolding/scripts/custom/core.module.js' type='text/javascript')
script(src='scaffolding/scripts/custom/factories/factory.isMobile.js' type='text/javascript')
script(src='scaffolding/scripts/custom/factories/factory.store.js' type='text/javascript')
script(src='scaffolding/scripts/custom/filters/filter.highlight.js' type='text/javascript')
script(src='scaffolding/scripts/custom/filters/filter.search.js' type='text/javascript')
script(src='scaffolding/scripts/custom/filters/filter.relativeTime.js' type='text/javascript')
script(src='app.module.js' type='text/javascript')
script(src='app.constant.js' type='text/javascript')
script(src='app.config.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.datatables.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.easypie.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.flot.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.fullcalendar.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.maps.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.masonry.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.slider.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.sortable.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.sparkline.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.wysihtml5.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.scrollbar.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.dropdown.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.tabs.js' type='text/javascript')
script(src='scaffolding/scripts/custom/directives/directive.tuck.js' type='text/javascript')

//- ----------------------------------------------
//- $Shared Components Scripts
//- ----------------------------------------------

script(src='views/components/offcanvas/offcanvas.directive.js' type='text/javascript')
script(src='views/components/offcanvas/offcanvas.controller.js' type='text/javascript')
script(src='views/components/notifications/notifications.controller.js' type='text/javascript')
script(src='views/components/content/content.directive.js' type='text/javascript')
script(src='views/components/content/content.controller.js' type='text/javascript')
script(src='views/components/sidebar/sidebar.directive.js' type='text/javascript')
script(src='views/components/sidebar/sidebar.controller.js' type='text/javascript')
script(src='views/components/page-header/header.directive.js' type='text/javascript')
script(src='views/components/page-header/header.controller.js' type='text/javascript')
script(src='views/components/topbar/topbar.directive.js' type='text/javascript')
script(src='views/components/topbar/topbar.controller.js' type='text/javascript')

// /build
