
.c-main.o-stack.o-stack--nowrap.u-relative
  .o-block.u-width-100p._u-width-100p.u-p-small
    .o-block__cell.u-bg-main.u-p-medium.u-shadow-mini.u-collapse._u-mb-medium

      //- Class List
      div._u-mb-small.u-collapse

        h5 Animation


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform
              tr
                td.u-ws-nowrap
                  code .u-animate-fadeIn
                td Dispaly element with fade in effect.
              tr
                td.u-ws-nowrap
                  code .u-animate-fadeUp
                td Dispaly element with fade in effect while moving up.
              tr
                td.u-ws-nowrap
                  code .u-animate-fadeDown
                td Dispaly element with fade in effect while moving down.
              tr
                td.u-ws-nowrap
                  code .u-animate-scaleIn
                td Dispaly element with zooming effect.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Border


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-border-all
                td Set 1px border around element from all sides.
              tr
                td.u-ws-nowrap
                  code .u-border-x
                td Set 1px left and right borders of the element.
              tr
                td.u-ws-nowrap
                  code .u-border-y
                td Set 1px top and bottom borders of the element.
              tr
                td.u-ws-nowrap
                  code .u-border-top
                td Set 1px to the top of the element.
              tr
                td.u-ws-nowrap
                  code .u-border-right
                td Set 1px to the right of the element.
              tr
                td.u-ws-nowrap
                  code .u-border-bottom
                td Set 1px to the bottom of the element.
              tr
                td.u-ws-nowrap
                  code .u-border-left
                td Set 1px to the left of the element.
              tr
                td.u-ws-nowrap
                  code .u-border-none
                td Set border to 0.
              tr
                td.u-ws-nowrap
                  code .u-radius-base
                td Set border-radius to base border radius.
              tr
                td.u-ws-nowrap
                  code .u-radius-mini
                td Set border-radius to 2px.
              tr
                td.u-ws-nowrap
                  code .u-radius-tiny
                td Set border-radius to 3px.
              tr
                td.u-ws-nowrap
                  code .u-radius-small
                td Set border-radius to 4px.
              tr
                td.u-ws-nowrap
                  code .u-radius-medium
                td Set border-radius to 6px.
              tr
                td.u-ws-nowrap
                  code .u-radius-rounded
                td Set border-radius to 100em.
              tr
                td.u-ws-nowrap
                  code .u-radius-circle
                td Set border-radius to 50%.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Box Shadow


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-shadow-mini
                td Set box shadow to a mini size.
              tr
                td.u-ws-nowrap
                  code .u-shadow-tiny
                td Set box shadow to a tiny size.
              tr
                td.u-ws-nowrap
                  code .u-shadow-small
                td Set box shadow to a small size.
              tr
                td.u-ws-nowrap
                  code .u-shadow-medium
                td Set box shadow to a medium size.
              tr
                td.u-ws-nowrap
                  code .u-shadow-none
                td Set box shadow to none.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Clear


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-clear-both
                td Clear both.
              tr
                td.u-ws-nowrap
                  code .u-clear-right
                td Clear right.
              tr
                td.u-ws-nowrap
                  code .u-clear-left
                td Clear left.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Clearfix


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-clearfix
                td Used with elements containing floats.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Collapse


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-collapse
                td Remove top margin from the first child and bottom margin from the last one.
              tr
                td.u-ws-nowrap
                  code .u-collapse--horizontal
                td Remove left margin from the first child and right margin from the last one.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Color


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-color-main
                td set element text color to light color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-pivotal
                td set element text color to pivotal color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-major
                td set element text color to major color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-minor
                td set element text color to minor color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-omitted
                td set element text color to omitted color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-muted
                td set element text color to muted color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-primary
                td set element text color to primary color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-secondary
                td set element text color to secondary color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-accent
                td set element text color to accent color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-error
                td set element text color to error color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-warning
                td set element text color to warning color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-success
                td set element text color to success color variable.
              tr
                td.u-ws-nowrap
                  code .u-color-info
                td set element text color to info color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-main
                td set element background color to light color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-pivotal
                td set element background color to pivotal color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-major
                td set element background color to major color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-minor
                td set element background color to minor color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-omitted
                td set element background color to omitted color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-muted
                td set element background color to muted color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-primary
                td set element background color to primary color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-secondary
                td set element background color to secondary color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-accent
                td set element background color to accent color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-error
                td set element background color to error color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-warning
                td set element background color to warning color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-success
                td set element background color to success color variable.
              tr
                td.u-ws-nowrap
                  code .u-bg-info
                td set element background color to info color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-main
                td set SVG element fill to light color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-pivotal
                td set SVG element fill to pivotal color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-major
                td set SVG element fill to major color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-minor
                td set SVG element fill to minor color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-omitted
                td set SVG element fill to omitted color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-muted
                td set SVG element fill to muted color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-primary
                td set SVG element fill to primary color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-secondary
                td set SVG element fill to secondary color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-accent
                td set SVG element fill to accent color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-error
                td set SVG element fill to error color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-warning
                td set SVG element fill to warning color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-success
                td set SVG element fill to success color variable.
              tr
                td.u-ws-nowrap
                  code .u-fill-info
                td set SVG element fill to info color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-main
                td set SVG element stroke color to light color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-pivotal
                td set SVG element stroke color to pivotal color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-major
                td set SVG element stroke color to major color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-minor
                td set SVG element stroke color to minor color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-omitted
                td set SVG element stroke color to omitted color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-muted
                td set SVG element stroke color to muted color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-primary
                td set SVG element stroke color to primary color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-secondary
                td set SVG element stroke color to secondary color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-accent
                td set SVG element stroke color to accent color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-error
                td set SVG element stroke color to error color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-warning
                td set SVG element stroke color to warning color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-success
                td set SVG element stroke color to success color variable.
              tr
                td.u-ws-nowrap
                  code .u-stroke-info
                td set SVG element stroke color to info color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-main
                td set element border color to light color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-pivotal
                td set element border color to pivotal color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-major
                td set element border color to major color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-minor
                td set element border color to minor color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-omitted
                td set element border color to omitted color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-muted
                td set element border color to muted color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-primary
                td set element border color to primary color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-secondary
                td set element border color to secondary color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-accent
                td set element border color to accent color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-error
                td set element border color to error color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-warning
                td set element border color to warning color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-success
                td set element border color to success color variable.
              tr
                td.u-ws-nowrap
                  code .u-border-info
                td set element border color to info color variable.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Display


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-block
                td Set element display to block.
              tr
                td.u-ws-nowrap
                  code .u-inlineBlock
                td Set element display to inline-block.
              tr
                td.u-ws-nowrap
                  code .u-inline
                td Set element display to inline.
              tr
                td.u-ws-nowrap
                  code .u-table
                td Set element display to table.
              tr
                td.u-ws-nowrap
                  code .u-tableCell
                td Set element display to table-cell.
              tr
                td.u-ws-nowrap
                  code .u-tableRow
                td Set element display to table-row.
              tr
                td.u-ws-nowrap
                  code .u-hide
                td Set element display to none.
              tr
                td.u-ws-nowrap
                  code .u-visible
                td Set element visibility to visible.
              tr
                td.u-ws-nowrap
                  code .u-invisible
                td Set element visibility to hidden.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Flex Align Content


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-flexContentStart
                td Set element flex-content property to flex-strat.
              tr
                td.u-ws-nowrap
                  code .u-flexContentEnd
                td Set element flex-content property to flex-end.
              tr
                td.u-ws-nowrap
                  code .u-flexContentCenter
                td Set element flex-content property to center.
              tr
                td.u-ws-nowrap
                  code .u-flexContentStretch
                td Set element flex-content property to stretch.
              tr
                td.u-ws-nowrap
                  code .u-flexContentBetween
                td Set element flex-content property to space-between.
              tr
                td.u-ws-nowrap
                  code .u-flexContentAround
                td Set element flex-content property to space-arround.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Flex Align Items


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-flexItemsStart
                td Set element aling-items property to flex-start.
              tr
                td.u-ws-nowrap
                  code .u-flexItemsEnd
                td Set element aling-items property to flex-end.
              tr
                td.u-ws-nowrap
                  code .u-flexItemsCenter
                td Set element aling-items property to center.
              tr
                td.u-ws-nowrap
                  code .u-flexItemsStretch
                td Set element aling-items property to stretch.
              tr
                td.u-ws-nowrap
                  code .u-flexItemsBaseline
                td Set element aling-items property to baseline.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Flex Align Self


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-flexSelfStart
                td Set element align-self property to flex-start.
              tr
                td.u-ws-nowrap
                  code .u-flexSelfEnd
                td Set element align-self property to flex-end.
              tr
                td.u-ws-nowrap
                  code .u-flexSelfCenter
                td Set element align-self property to center.
              tr
                td.u-ws-nowrap
                  code .u-flexSelfStretch
                td Set element align-self property to stretch.
              tr
                td.u-ws-nowrap
                  code .u-flexSelfBaseline
                td Set element align-self property to baseline.
              tr
                td.u-ws-nowrap
                  code .u-flexSelfAuto
                td Set element align-self property to auto.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Flex Direction


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-flexRow
                td Set flex-direction property to row.
              tr
                td.u-ws-nowrap
                  code .u-flexRowReverse
                td Set flex-direction property to rowreverse.
              tr
                td.u-ws-nowrap
                  code .u-flexColumn
                td Set flex-direction property to column.
              tr
                td.u-ws-nowrap
                  code .u-flexColumnReverse
                td Set flex-direction property to column-reverse.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Flex Grow


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-flexGrow-1
                td Set element flex-grow property to 1.
              tr
                td.u-ws-nowrap
                  code .u-flexGrow-2
                td Set element flex-grow property to 2.
              tr
                td.u-ws-nowrap
                  code .u-flexGrow-3
                td Set element flex-grow property to 3.
              tr
                td.u-ws-nowrap
                  code .u-flexGrow-4
                td Set element flex-grow property to 4.
              tr
                td.u-ws-nowrap
                  code .u-flexGrow-5
                td Set element flex-grow property to 5.
              tr
                td.u-ws-nowrap
                  code .u-flexGrow-6
                td Set element flex-grow property to 6.
              tr
                td.u-ws-nowrap
                  code .u-flexGrow-7
                td Set element flex-grow property to 7.
              tr
                td.u-ws-nowrap
                  code .u-flexGrow-8
                td Set element flex-grow property to 8.
              tr
                td.u-ws-nowrap
                  code .u-flexGrow-9
                td Set element flex-grow property to 9.
              tr
                td.u-ws-nowrap
                  code .u-flexGrow-10
                td Set element flex-grow property to 10.
              tr
                td.u-ws-nowrap
                  code .u-flexGrow-11
                td Set element flex-grow property to 11.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Flex Justify Content


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-flexJustifyStart
                td Set element justify-content property to flex-start.
              tr
                td.u-ws-nowrap
                  code .u-flexJustifyEnd
                td Set element justify-content property to flex-end.
              tr
                td.u-ws-nowrap
                  code .u-flexJustifyCenter
                td Set element justify-content property to center.
              tr
                td.u-ws-nowrap
                  code .u-flexJustifyBetween
                td Set element justify-content property to space-between.
              tr
                td.u-ws-nowrap
                  code .u-flexJustifyAround
                td Set element justify-content property to space-around.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Flex Order


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform
              tr
                td.u-ws-nowrap
                  code .u-flexOrderFirst
                td Set element order property to -1.
              tr
                td.u-ws-nowrap
                  code .u-flexOrderLast
                td Set element order property to 1.
              tr
                td.u-ws-nowrap
                  code .u-flexOrderNone
                td Set element order property to 0.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Flex Wrap


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform
              tr
                td.u-ws-nowrap
                  code .u-flexWrap
                td Set element flex-wrap property to wrap.
              tr
                td.u-ws-nowrap
                  code .u-flexNoWrap
                td Set element flex-wrap property to nowrap.
              tr
                td.u-ws-nowrap
                  code .u-flexWrapReverse
                td Set element flex-wrap property to wrap-reverse.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Flex


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-flex
                td Set element display property to flex.
              tr
                td.u-ws-nowrap
                  code .u-flexInline
                td Set element display property to inline-flex.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Float


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-float-right
                td Set element float property to right.
              tr
                td.u-ws-nowrap
                  code .u-float-left
                td Set element float property to left.
              tr
                td.u-ws-nowrap
                  code .u-float-none
                td Set element float property to none.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Font Family


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-font-default
                td Set element font-family property to $font-default.
              tr
                td.u-ws-nowrap
                  code .u-font-editorial
                td Set element font-family property to $font-editorial.
              tr
                td.u-ws-nowrap
                  code .u-font-mono
                td Set element font-family property to $font-mono.
              tr
                td.u-ws-nowrap
                  code .u-font-system
                td Set element font-family property to $font-system.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Font Size


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-font-divine
                td Set element font-size property to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-font-gigantic
                td Set element font-size property to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-font-massive
                td Set element font-size property to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-font-huge
                td Set element font-size property to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-font-big
                td Set element font-size property to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-font-large
                td Set element font-size property to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-font-medium
                td Set element font-size property to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-font-small
                td Set element font-size property to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-font-tiny
                td Set element font-size property to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-font-mini
                td Set element font-size property to mini size unit.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Font Style


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-font-normal
                td Set element font-style property to normal.
              tr
                td.u-ws-nowrap
                  code .u-font-italic
                td Set element font-style property to italic.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Font Weight


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-font-thin
                td Set element font-weight property to 100.
              tr
                td.u-ws-nowrap
                  code .u-font-extraLight
                td Set element font-weight property to 200.
              tr
                td.u-ws-nowrap
                  code .u-font-light
                td Set element font-weight property to 300.
              tr
                td.u-ws-nowrap
                  code .u-font-regular
                td Set element font-weight property to 400.
              tr
                td.u-ws-nowrap
                  code .u-font-thick
                td Set element font-weight property to 500.
              tr
                td.u-ws-nowrap
                  code .u-font-semiBold
                td Set element font-weight property to 600.
              tr
                td.u-ws-nowrap
                  code .u-font-bold
                td Set element font-weight property to 700.
              tr
                td.u-ws-nowrap
                  code .u-font-extraBold
                td Set element font-weight property to 800.
              tr
                td.u-ws-nowrap
                  code .u-font-black
                td Set element font-weight property to 900.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Interaction


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-cursor-default
                td Set element cursor property to default.
              tr
                td.u-ws-nowrap
                  code .u-cursor-disabled
                td Set element cursor property to not-allowed.
              tr
                td.u-ws-nowrap
                  code .u-cursor-pointer
                td Set element cursor property to pointer.
              tr
                td.u-ws-nowrap
                  code .u-pointerEvents-auto
                td Set element pointer-events property to auto.
              tr
                td.u-ws-nowrap
                  code .u-pointerEvents-none
                td Set element pointer-events property to none.
              tr
                td.u-ws-nowrap
                  code .u-unhighlightable
                td Prevent WebKit tap highlights.
              tr
                td.u-ws-nowrap
                  code .u-unselectable
                td prevent user selection.
              tr
                td.u-ws-nowrap
                  code .u-undragable
                td prevent user drag.
              tr
                td.u-ws-nowrap
                  code .u-disabled
                td Set element opacity to 0.5 and pointer-events to none.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Letter Spacing


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-ls-compact
                td Set element letter-spacing property to -1px.
              tr
                td.u-ws-nowrap
                  code .u-ls-normal
                td Set element letter-spacing property to 0.
              tr
                td.u-ws-nowrap
                  code .u-ls-loose
                td Set element letter-spacing property to 2px.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Line Height


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-lh-tight
                td Set element line-height property to 0.5em.
              tr
                td.u-ws-nowrap
                  code .u-lh-normal
                td Set element line-height property to 1em.
              tr
                td.u-ws-nowrap
                  code .u-lh-loose
                td Set element line-height property to 2em.

      //- Class List
      div._u-mb-small.u-collapse

        h5 List


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-list-bare
                td remove list styles.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Margin


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-m-auto
                td Set element margin property to auto.
              tr
                td.u-ws-nowrap
                  code .u-m-mini
                td Set element margin property to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-m-tiny
                td Set element margin property to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-m-small
                td Set element margin property to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-m-medium
                td Set element margin property to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-m-large
                td Set element margin property to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-m-big
                td Set element margin property to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-m-huge
                td Set element margin property to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-m-massive
                td Set element margin property to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-m-gigantic
                td Set element margin property to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-m-divine
                td Set element margin property to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-m-none
                td Set element margin property to 0.
              tr
                td.u-ws-nowrap
                  code .u-mx-auto
                td Set element margin-right and margin-left properties to auto.
              tr
                td.u-ws-nowrap
                  code .u-mx-mini
                td Set element margin-right and margin-left properties to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-mx-tiny
                td Set element margin-right and margin-left properties to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-mx-small
                td Set element margin-right and margin-left properties to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-mx-medium
                td Set element margin-right and margin-left properties to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-mx-large
                td Set element margin-right and margin-left properties to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-mx-big
                td Set element margin-right and margin-left properties to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-mx-huge
                td Set element margin-right and margin-left properties to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-mx-massive
                td Set element margin-right and margin-left properties to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-mx-gigantic
                td Set element margin-right and margin-left properties to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-mx-divine
                td Set element margin-right and margin-left properties to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-mx-none
                td Set element margin-right and margin-left properties to 0.
              tr
                td.u-ws-nowrap
                  code .u-my-auto
                td Set element margin-top and margin-bottom properties to auto.
              tr
                td.u-ws-nowrap
                  code .u-my-mini
                td Set element margin-top and margin-bottom properties to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-my-tiny
                td Set element margin-top and margin-bottom properties to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-my-small
                td Set element margin-top and margin-bottom properties to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-my-medium
                td Set element margin-top and margin-bottom properties to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-my-large
                td Set element margin-top and margin-bottom properties to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-my-big
                td Set element margin-top and margin-bottom properties to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-my-huge
                td Set element margin-top and margin-bottom properties to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-my-massive
                td Set element margin-top and margin-bottom properties to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-my-gigantic
                td Set element margin-top and margin-bottom properties to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-my-divine
                td Set element margin-top and margin-bottom properties to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-my-none
                td Set element margin-top and margin-bottom properties to 0.
              tr
                td.u-ws-nowrap
                  code .u-mt-auto
                td Set element margin-top property to auto.
              tr
                td.u-ws-nowrap
                  code .u-mt-mini
                td Set element margin-top property to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-mt-tiny
                td Set element margin-top property to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-mt-small
                td Set element margin-top property to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-mt-medium
                td Set element margin-top property to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-mt-large
                td Set element margin-top property to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-mt-big
                td Set element margin-top property to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-mt-huge
                td Set element margin-top property to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-mt-massive
                td Set element margin-top property to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-mt-gigantic
                td Set element margin-top property to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-mt-divine
                td Set element margin-top property to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-mt-none
                td Set element margin-top property to 0.
              tr
                td.u-ws-nowrap
                  code .u-mr-auto
                td Set element margin-right property to auto.
              tr
                td.u-ws-nowrap
                  code .u-mr-mini
                td Set element margin-right property to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-mr-tiny
                td Set element margin-right property to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-mr-small
                td Set element margin-right property to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-mr-medium
                td Set element margin-right property to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-mr-large
                td Set element margin-right property to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-mr-big
                td Set element margin-right property to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-mr-huge
                td Set element margin-right property to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-mr-massive
                td Set element margin-right property to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-mr-gigantic
                td Set element margin-right property to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-mr-divine
                td Set element margin-right property to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-mr-none
                td Set element margin-right property to 0.
              tr
                td.u-ws-nowrap
                  code .u-mb-auto
                td Set element margin-bottom property to auto.
              tr
                td.u-ws-nowrap
                  code .u-mb-mini
                td Set element margin-bottom property to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-mb-tiny
                td Set element margin-bottom property to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-mb-small
                td Set element margin-bottom property to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-mb-medium
                td Set element margin-bottom property to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-mb-large
                td Set element margin-bottom property to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-mb-big
                td Set element margin-bottom property to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-mb-huge
                td Set element margin-bottom property to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-mb-massive
                td Set element margin-bottom property to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-mb-gigantic
                td Set element margin-bottom property to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-mb-divine
                td Set element margin-bottom property to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-mb-none
                td Set element margin-bottom property to 0.
              tr
                td.u-ws-nowrap
                  code .u-ml-auto
                td Set element margin-left property to auto.
              tr
                td.u-ws-nowrap
                  code .u-ml-mini
                td Set element margin-left property to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-ml-tiny
                td Set element margin-left property to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-ml-small
                td Set element margin-left property to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-ml-medium
                td Set element margin-left property to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-ml-large
                td Set element margin-left property to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-ml-big
                td Set element margin-left property to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-ml-huge
                td Set element margin-left property to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-ml-massive
                td Set element margin-left property to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-ml-gigantic
                td Set element margin-left property to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-ml-divine
                td Set element margin-left property to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-ml-none
                td Set element margin-left property to 0.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Offset


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-offset-1\/12
                td Set element margin-left property to 1/12.
              tr
                td.u-ws-nowrap
                  code .u-offset-2\/12
                td Set element margin-left property to 2/12.
              tr
                td.u-ws-nowrap
                  code .u-offset-3\/12
                td Set element margin-left property to 3/12.
              tr
                td.u-ws-nowrap
                  code .u-offset-4\/12
                td Set element margin-left property to 4/12.
              tr
                td.u-ws-nowrap
                  code .u-offset-5\/12
                td Set element margin-left property to 5/12.
              tr
                td.u-ws-nowrap
                  code .u-offset-6\/12
                td Set element margin-left property to 6/12.
              tr
                td.u-ws-nowrap
                  code .u-offset-7\/12
                td Set element margin-left property to 7/12.
              tr
                td.u-ws-nowrap
                  code .u-offset-8\/12
                td Set element margin-left property to 8/12.
              tr
                td.u-ws-nowrap
                  code .u-offset-9\/12
                td Set element margin-left property to 9/12.
              tr
                td.u-ws-nowrap
                  code .u-offset-10\/12
                td Set element margin-left property to 10/12.
              tr
                td.u-ws-nowrap
                  code .u-offset-11\/12
                td Set element margin-left property to 11/12.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Opacity


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-opacity-0
                td Set element opacity property to 0.
              tr
                td.u-ws-nowrap
                  code .u-opacity-10p
                td Set element opacity property to 10%.
              tr
                td.u-ws-nowrap
                  code .u-opacity-20p
                td Set element opacity property to 20%.
              tr
                td.u-ws-nowrap
                  code .u-opacity-30p
                td Set element opacity property to 30%.
              tr
                td.u-ws-nowrap
                  code .u-opacity-40p
                td Set element opacity property to 40%.
              tr
                td.u-ws-nowrap
                  code .u-opacity-50p
                td Set element opacity property to 50%.
              tr
                td.u-ws-nowrap
                  code .u-opacity-60p
                td Set element opacity property to 60%.
              tr
                td.u-ws-nowrap
                  code .u-opacity-70p
                td Set element opacity property to 70%.
              tr
                td.u-ws-nowrap
                  code .u-opacity-80p
                td Set element opacity property to 80%.
              tr
                td.u-ws-nowrap
                  code .u-opacity-90p
                td Set element opacity property to 90%.
              tr
                td.u-ws-nowrap
                  code .u-opacity-100p
                td Set element opacity property to 100%.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Overflow


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-overflow-visible
                td Set element overlow property to visible.
              tr
                td.u-ws-nowrap
                  code .u-overflow-hidden
                td Set element overlow property to hidden.
              tr
                td.u-ws-nowrap
                  code .u-overflow-scroll
                td Set element overlow property to scroll.
              tr
                td.u-ws-nowrap
                  code .u-overflow-auto
                td Set element overlow property to auto.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Padding


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-p-mini
                td Set element padding property to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-p-tiny
                td Set element padding property to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-p-small
                td Set element padding property to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-p-medium
                td Set element padding property to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-p-large
                td Set element padding property to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-p-big
                td Set element padding property to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-p-huge
                td Set element padding property to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-p-massive
                td Set element padding property to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-p-gigantic
                td Set element padding property to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-p-divine
                td Set element padding property to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-p-none
                td Set element padding property to 0.
              tr
                td.u-ws-nowrap
                  code .u-px-mini
                td Set element padding-right and padding-left properties to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-px-tiny
                td Set element padding-right and padding-left properties to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-px-small
                td Set element padding-right and padding-left properties to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-px-medium
                td Set element padding-right and padding-left properties to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-px-large
                td Set element padding-right and padding-left properties to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-px-big
                td Set element padding-right and padding-left properties to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-px-huge
                td Set element padding-right and padding-left properties to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-px-massive
                td Set element padding-right and padding-left properties to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-px-gigantic
                td Set element padding-right and padding-left properties to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-px-divine
                td Set element padding-right and padding-left properties to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-px-none
                td Set element padding-right and padding-left properties to 0.
              tr
                td.u-ws-nowrap
                  code .u-py-mini
                td Set element padding-top and padding-bottom properties to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-py-tiny
                td Set element padding-top and padding-bottom properties to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-py-small
                td Set element padding-top and padding-bottom properties to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-py-medium
                td Set element padding-top and padding-bottom properties to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-py-large
                td Set element padding-top and padding-bottom properties to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-py-big
                td Set element padding-top and padding-bottom properties to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-py-huge
                td Set element padding-top and padding-bottom properties to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-py-massive
                td Set element padding-top and padding-bottom properties to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-py-gigantic
                td Set element padding-top and padding-bottom properties to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-py-divine
                td Set element padding-top and padding-bottom properties to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-py-none
                td Set element padding-top and padding-bottom properties to 0.
              tr
                td.u-ws-nowrap
                  code .u-pt-mini
                td Set element padding-top property to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-pt-tiny
                td Set element padding-top property to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-pt-small
                td Set element padding-top property to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-pt-medium
                td Set element padding-top property to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-pt-large
                td Set element padding-top property to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-pt-big
                td Set element padding-top property to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-pt-huge
                td Set element padding-top property to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-pt-massive
                td Set element padding-top property to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-pt-gigantic
                td Set element padding-top property to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-pt-divine
                td Set element padding-top property to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-pt-none
                td Set element padding-top property to 0.
              tr
                td.u-ws-nowrap
                  code .u-pr-mini
                td Set element padding-right property to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-pr-tiny
                td Set element padding-right property to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-pr-small
                td Set element padding-right property to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-pr-medium
                td Set element padding-right property to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-pr-large
                td Set element padding-right property to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-pr-big
                td Set element padding-right property to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-pr-huge
                td Set element padding-right property to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-pr-massive
                td Set element padding-right property to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-pr-gigantic
                td Set element padding-right property to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-pr-divine
                td Set element padding-right property to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-pr-none
                td Set element padding-right property to 0.
              tr
                td.u-ws-nowrap
                  code .u-pb-mini
                td Set element padding-bottom property to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-pb-tiny
                td Set element padding-bottom property to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-pb-small
                td Set element padding-bottom property to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-pb-medium
                td Set element padding-bottom property to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-pb-large
                td Set element padding-bottom property to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-pb-big
                td Set element padding-bottom property to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-pb-huge
                td Set element padding-bottom property to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-pb-massive
                td Set element padding-bottom property to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-pb-gigantic
                td Set element padding-bottom property to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-pb-divine
                td Set element padding-bottom property to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-pb-none
                td Set element padding-bottom property to 0.
              tr
                td.u-ws-nowrap
                  code .u-pl-mini
                td Set element padding-left property to mini size unit.
              tr
                td.u-ws-nowrap
                  code .u-pl-tiny
                td Set element padding-left property to tiny size unit.
              tr
                td.u-ws-nowrap
                  code .u-pl-small
                td Set element padding-left property to small size unit.
              tr
                td.u-ws-nowrap
                  code .u-pl-medium
                td Set element padding-left property to medium size unit.
              tr
                td.u-ws-nowrap
                  code .u-pl-large
                td Set element padding-left property to large size unit.
              tr
                td.u-ws-nowrap
                  code .u-pl-big
                td Set element padding-left property to big size unit.
              tr
                td.u-ws-nowrap
                  code .u-pl-huge
                td Set element padding-left property to huge size unit.
              tr
                td.u-ws-nowrap
                  code .u-pl-massive
                td Set element padding-left property to massive size unit.
              tr
                td.u-ws-nowrap
                  code .u-pl-gigantic
                td Set element padding-left property to gigantic size unit.
              tr
                td.u-ws-nowrap
                  code .u-pl-divine
                td Set element padding-left property to divine size unit.
              tr
                td.u-ws-nowrap
                  code .u-pl-none
                td Set element padding-left property to 0.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Position


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-static
                td Set element position property to static.
              tr
                td.u-ws-nowrap
                  code .u-relative
                td Set element position property to relative.
              tr
                td.u-ws-nowrap
                  code .u-absolute
                td Set element position property to absolute.
              tr
                td.u-ws-nowrap
                  code .u-fixed
                td Set element position property to fixed.
              tr
                td.u-ws-nowrap
                  code .u-sticky
                td Set element position property to sticky.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Screen Reader


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-sr-only
                td Make content available only to screen readers.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Sides


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-t-none
                td Set element top property to 0.
              tr
                td.u-ws-nowrap
                  code .u-t-auto
                td Set element top property to auto.
              tr
                td.u-ws-nowrap
                  code .u-t-50p
                td Set element top property to 50%.
              tr
                td.u-ws-nowrap
                  code .u-t-100p
                td Set element top property to 100%.
              tr
                td.u-ws-nowrap
                  code .u-r-none
                td Set element right property to 0.
              tr
                td.u-ws-nowrap
                  code .u-r-auto
                td Set element right property to auto.
              tr
                td.u-ws-nowrap
                  code .u-r-50p
                td Set element right property to 50%.
              tr
                td.u-ws-nowrap
                  code .u-r-100p
                td Set element right property to 100%.
              tr
                td.u-ws-nowrap
                  code .u-b-none
                td Set element bottom property to 0.
              tr
                td.u-ws-nowrap
                  code .u-b-auto
                td Set element bottom property to auto.
              tr
                td.u-ws-nowrap
                  code .u-b-50p
                td Set element bottom property to 50%.
              tr
                td.u-ws-nowrap
                  code .u-b-100p
                td Set element bottom property to 100%.
              tr
                td.u-ws-nowrap
                  code .u-l-none
                td Set element left property to 0.
              tr
                td.u-ws-nowrap
                  code .u-l-auto
                td Set element left property to auto.
              tr
                td.u-ws-nowrap
                  code .u-l-50p
                td Set element left property to 50%.
              tr
                td.u-ws-nowrap
                  code .u-l-100p
                td Set element left property to 100%.
              tr
                td.u-ws-nowrap
                  code .u-tr-none
                td Set element top and right properties to 0.
              tr
                td.u-ws-nowrap
                  code .u-tr-auto
                td Set element top and right properties to auto.
              tr
                td.u-ws-nowrap
                  code .u-tr-50p
                td Set element top and right properties to 50%.
              tr
                td.u-ws-nowrap
                  code .u-tr-100p
                td Set element top and right properties to 100%.
              tr
                td.u-ws-nowrap
                  code .u-tl-none
                td Set element top and left properties to 0.
              tr
                td.u-ws-nowrap
                  code .u-tl-auto
                td Set element top and left properties to auto.
              tr
                td.u-ws-nowrap
                  code .u-tl-50p
                td Set element top and left properties to 50%.
              tr
                td.u-ws-nowrap
                  code .u-tl-100p
                td Set element top and left properties to 100%.
              tr
                td.u-ws-nowrap
                  code .u-br-none
                td Set element bottom and right properties to 0.
              tr
                td.u-ws-nowrap
                  code .u-br-auto
                td Set element bottom and right properties to auto.
              tr
                td.u-ws-nowrap
                  code .u-br-50p
                td Set element bottom and right properties to 50%.
              tr
                td.u-ws-nowrap
                  code .u-br-100p
                td Set element bottom and right properties to 100%.
              tr
                td.u-ws-nowrap
                  code .u-bl-none
                td Set element bottom and left properties to 0.
              tr
                td.u-ws-nowrap
                  code .u-bl-auto
                td Set element bottom and left properties to auto.
              tr
                td.u-ws-nowrap
                  code .u-bl-50p
                td Set element bottom and left properties to 50%.
              tr
                td.u-ws-nowrap
                  code .u-bl-100p
                td Set element bottom and left properties to 100%.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Size


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-1\/12
                td Set element width property to 1/12.
              tr
                td.u-ws-nowrap
                  code .u-2\/12
                td Set element width property to 2/12.
              tr
                td.u-ws-nowrap
                  code .u-3\/12
                td Set element width property to 3/12.
              tr
                td.u-ws-nowrap
                  code .u-4\/12
                td Set element width property to 4/12.
              tr
                td.u-ws-nowrap
                  code .u-5\/12
                td Set element width property to 5/12.
              tr
                td.u-ws-nowrap
                  code .u-6\/12
                td Set element width property to 6/12.
              tr
                td.u-ws-nowrap
                  code .u-7\/12
                td Set element width property to 7/12.
              tr
                td.u-ws-nowrap
                  code .u-8\/12
                td Set element width property to 8/12.
              tr
                td.u-ws-nowrap
                  code .u-9\/12
                td Set element width property to 9/12.
              tr
                td.u-ws-nowrap
                  code .u-10\/12
                td Set element width property to 10/12.
              tr
                td.u-ws-nowrap
                  code .u-11\/12
                td Set element width property to 11/12.
              tr
                td.u-ws-nowrap
                  code .u-width-auto
                td Set element width property to auto.
              tr
                td.u-ws-nowrap
                  code .u-width-100p
                td Set element width property to 100%.
              tr
                td.u-ws-nowrap
                  code .u-height-auto
                td Set element height property to auto.
              tr
                td.u-ws-nowrap
                  code .u-height-50p
                td Set element height property to 50%.
              tr
                td.u-ws-nowrap
                  code .u-height-100p
                td Set element height property to 100%.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Text Align


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-text-left
                td Set element text-align property to left.
              tr
                td.u-ws-nowrap
                  code .u-text-right
                td Set element text-align property to right.
              tr
                td.u-ws-nowrap
                  code .u-text-center
                td Set element text-align property to center.
              tr
                td.u-ws-nowrap
                  code .u-text-justify
                td Set element text-align property to justify.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Text Decoration


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-text-underline
                td Set element text-decoration property to underline.
              tr
                td.u-ws-nowrap
                  code .u-text-overline
                td Set element text-decoration property to overline.
              tr
                td.u-ws-nowrap
                  code .u-text-lineThrough
                td Set element text-decoration property to line-through.
              tr
                td.u-ws-nowrap
                  code .u-text-blink
                td Set element text-decoration property to blink.
              tr
                td.u-ws-nowrap
                  code .u-text-bare
                td Set element text-decoration property to none.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Text Hide


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-text-hide
                td Hide text visually.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Text Transform


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-text-capitalize
                td Set element text-transform property to capitalize.
              tr
                td.u-ws-nowrap
                  code .u-text-lowercase
                td Set element text-transform property to lowercase.
              tr
                td.u-ws-nowrap
                  code .u-text-uppercase
                td Set element text-transform property to uppercase.
              tr
                td.u-ws-nowrap
                  code .u-text-noTransform
                td Set element text-transform property to none.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Truncate


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-text-truncate
                td Truncate text with ellipses.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Vertical Align


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-align-baseline
                td Set element vertical-align property to baseline.
              tr
                td.u-ws-nowrap
                  code .u-align-sub
                td Set element vertical-align property to sub.
              tr
                td.u-ws-nowrap
                  code .u-align-super
                td Set element vertical-align property to super.
              tr
                td.u-ws-nowrap
                  code .u-align-textTop
                td Set element vertical-align property to text-top.
              tr
                td.u-ws-nowrap
                  code .u-align-textBottom
                td Set element vertical-align property to text-bottom.
              tr
                td.u-ws-nowrap
                  code .u-align-middle
                td Set element vertical-align property to middle.
              tr
                td.u-ws-nowrap
                  code .u-align-top
                td Set element vertical-align property to top.
              tr
                td.u-ws-nowrap
                  code .u-align-bottom
                td Set element vertical-align property to bottom.

      //- Class List
      div._u-mb-small.u-collapse

        h5 White Space


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-ws-normal
                td Set element white-space property to normal.
              tr
                td.u-ws-nowrap
                  code .u-ws-nowrap
                td Set element white-space property to nowrap.
              tr
                td.u-ws-nowrap
                  code .u-ws-pre
                td Set element white-space property to pre.
              tr
                td.u-ws-nowrap
                  code .u-ws-preWrap
                td Set element white-space property to pre-wrap.
              tr
                td.u-ws-nowrap
                  code .u-ws-preLine
                td Set element white-space property to pre-line.

      //- Class List
      div._u-mb-small.u-collapse

        h5 Z Index


        //- Table
        .u-overflow-auto.u-width-100p
          table.c-table.c-table--bordered.c-table--tiny
            thead
              tr
                th Class Name
                th Description

            tbody.u-text-noTransform

              tr
                td.u-ws-nowrap
                  code .u-over-content
                td Set element z-index property to 100.
              tr
                td.u-ws-nowrap
                  code .u-over-control
                td Set element z-index property to 200.
              tr
                td.u-ws-nowrap
                  code .u-over-page
                td Set element z-index property to 200.
              tr
                td.u-ws-nowrap
                  code .u-over-screen
                td Set element z-index property to 400.
              tr
                td.u-ws-nowrap
                  code .u-over-all
                td Set element z-index property to 500.

