// ---------------------------------------------------------
// @Table of Contents
// ---------------------------------------------------------

/**
 * + @Cursor
 * + @Pointer Events
 * + @Tap Highlight
 * + @User Select
 * + @User Drag
 */








// ---------------------------------------------------------
// @Cursor
// ---------------------------------------------------------

.u-cursor-default
  cursor: default




.u-cursor-disabled
  cursor: not-allowed




.u-cursor-pointer
  cursor: pointer









// ---------------------------------------------------------
// @Pointer Events
// ---------------------------------------------------------

.u-pointerEvents-auto
  pointer-events: auto




.u-pointerEvents-none
  pointer-events: none









// ---------------------------------------------------------
// @Tap Highlight
// ---------------------------------------------------------

/**
 * Disable WebKit tap highlights to simulate native app behaviour.
 */

.u-unhighlightable
  unhighlightable()







// ---------------------------------------------------------
// @User Select
// ---------------------------------------------------------

/**
 * Prevent user from selecting (e.g. copy/paste) certain elements.
 */

.u-unselectable
  selectable(none)








// ---------------------------------------------------------
// @User Drag
// ---------------------------------------------------------

/**
 * Prevent users from dragging page elements.
 */

.u-undragable
  undragable()








// ---------------------------------------------------------
// @Disable Elements
// ---------------------------------------------------------

/**
 * Apply disabled state for relevant elements.
 */

.u-disabled
  opacity: 0.5
  pointer-events: none
