// ---------------------------------------------------------
// @Table of Contents
// ---------------------------------------------------------

/**
 * + @Collapse
 */








// ---------------------------------------------------------
// @Collapse
// ---------------------------------------------------------

/**
 * Used to remove first & last children vertical margins.
 */

.u-collapse
  collapse()


/**
 * Used to remove first & last children horizontal margins.
 */

.u-collapse--horizontal
  collapse('horizontal')
