// ---------------------------------------------------------
// @Text Transform
// ---------------------------------------------------------

.u-text-capitalize
  text-transform: capitalize

.u-text-lowercase
  text-transform: lowercase

.u-text-uppercase
  text-transform: uppercase

.u-text-noTransform
  text-transform: none
