// ---------------------------------------------------------
// @Table of Contents
// ---------------------------------------------------------

/**
 * + @Settings
 * + @Flex
 */








// ---------------------------------------------------------
// @Settings
// ---------------------------------------------------------

$flex-prop-values  = 'flex' 'inline-flex'
$flex-prop-classes = '.u-flex' '.u-flexInline'








// ---------------------------------------------------------
// @Flex
// ---------------------------------------------------------

/**
 * Function used to generate regular/responsive classes for `flex`.
 */

-generate-rules('display', $flex-prop-values, $flex-prop-classes)
