// ---------------------------------------------------------
// @Table of Contents
// ---------------------------------------------------------

/**
 * + @Settings
 * + @Flex Justify Content
 */








// ---------------------------------------------------------
// @Settings
// ---------------------------------------------------------

$flex-justify-content-prop-values  = 'flex-start' 'flex-end' 'center' 'space-between' 'space-around'
$flex-justify-content-prop-classes = '.u-flexJustifyStart' '.u-flexJustifyEnd' '.u-flexJustifyCenter' '.u-flexJustifyBetween' '.u-flexJustifyAround'








// ---------------------------------------------------------
// @Flex Justify Content
// ---------------------------------------------------------

/**
 * Function used to generate regular/responsive classes for `justify-content`.
 */

-generate-rules('justify-content', $flex-justify-content-prop-values, $flex-justify-content-prop-classes)
