// ---------------------------------------------------------
// @Table of Contents
// ---------------------------------------------------------

/**
 * + @Settings
 * + @Colors
 * + @Backgrounds
 * + @Fills
 * + @Strokes
 * + @Borders
 */








// ---------------------------------------------------------
// @Settings
// ---------------------------------------------------------

// #Grey Colors
// -------------------------------------

$main      = $color-main
$pivotal   = $color-grey-pivotal
$major     = $color-grey-major
$minor     = $color-grey-minor
$omitted   = $color-grey-omitted
$muted     = $color-grey-muted







// #Variants Colors
// -------------------------------------

$primary   = $color-variant-primary
$secondary = $color-variant-secondary
$accent    = $color-variant-accent
$accent-2  = $color-variant-accent-2







// #Aside Colors
// -------------------------------------

$error     = $color-aside-error
$warning   = $color-aside-warning
$success   = $color-aside-success
$info      = $color-aside-info








// ---------------------------------------------------------
// @Colors
// ---------------------------------------------------------

.u-color-white-50
  color: $clr-white-50 !important
.u-color-white-100
  color: $clr-white-100 !important
.u-color-white-200
  color: $clr-white-200 !important
.u-color-white-300
  color: $clr-white-300 !important
.u-color-white-400
  color: $clr-white-400 !important
.u-color-white-500
  color: $clr-white-500 !important
.u-color-white-600
  color: $clr-white-600 !important
.u-color-white-700
  color: $clr-white-700 !important
.u-color-white-800
  color: $clr-white-800 !important
.u-color-white-900
  color: $clr-white-900 !important



.u-color-main
  color: $main !important




.u-color-pivotal
  color: $pivotal !important




.u-color-major
  color: $major !important




.u-color-minor
  color: $minor !important




.u-color-omitted
  color: $omitted !important




.u-color-muted
  color: $muted !important




.u-color-primary
  color: $primary !important




.u-color-secondary
  color: $secondary !important




.u-color-accent
  color: $accent !important



.u-color-accent-2
  color: $accent-2 !important




.u-color-error
  color: $error !important




.u-color-warning
  color: $warning !important




.u-color-success
  color: $success !important




.u-color-info
  color: $info !important








// ---------------------------------------------------------
// @Backgrounds
// ---------------------------------------------------------

.u-bg-white-50
  background: $clr-white-50 !important
.u-bg-white-100
  background: $clr-white-100 !important
.u-bg-white-200
  background: $clr-white-200 !important
.u-bg-white-300
  background: $clr-white-300 !important
.u-bg-white-400
  background: $clr-white-400 !important
.u-bg-white-500
  background: $clr-white-500 !important
.u-bg-white-600
  background: $clr-white-600 !important
.u-bg-white-700
  background: $clr-white-700 !important
.u-bg-white-800
  background: $clr-white-800 !important
.u-bg-white-900
  background: $clr-white-900 !important



.u-bg-main
  background-color: $main !important




.u-bg-pivotal
  background-color: $pivotal !important




.u-bg-major
  background-color: $major !important




.u-bg-minor
  background-color: $minor !important




.u-bg-omitted
  background-color: $omitted !important




.u-bg-muted
  background-color: $muted !important




.u-bg-primary
  background-color: $primary !important




.u-bg-secondary
  background-color: $secondary !important




.u-bg-accent
  background-color: $accent !important



.u-bg-accent-2
  background-color: $accent-2 !important




.u-bg-error
  background-color: $error !important




.u-bg-warning
  background-color: $warning !important




.u-bg-success
  background-color: $success !important




.u-bg-info
  background-color: $info !important








// ---------------------------------------------------------
// @Fills
// ---------------------------------------------------------


.u-fill-white-50
  fill: $clr-white-50 !important
.u-fill-white-100
  fill: $clr-white-100 !important
.u-fill-white-200
  fill: $clr-white-200 !important
.u-fill-white-300
  fill: $clr-white-300 !important
.u-fill-white-400
  fill: $clr-white-400 !important
.u-fill-white-500
  fill: $clr-white-500 !important
.u-fill-white-600
  fill: $clr-white-600 !important
.u-fill-white-700
  fill: $clr-white-700 !important
.u-fill-white-800
  fill: $clr-white-800 !important
.u-fill-white-900
  fill: $clr-white-900 !important



.u-fill-main
  fill: $main !important




.u-fill-pivotal
  fill: $pivotal !important




.u-fill-major
  fill: $major !important




.u-fill-minor
  fill: $minor !important




.u-fill-omitted
  fill: $omitted !important




.u-fill-muted
  fill: $muted !important




.u-fill-primary
  fill: $primary !important




.u-fill-secondary
  fill: $secondary !important




.u-fill-accent
  fill: $accent !important



.u-fill-accent-2
  fill: $accent-2 !important




.u-fill-error
  fill: $error !important




.u-fill-warning
  fill: $warning !important




.u-fill-success
  fill: $success !important




.u-fill-info
  fill: $info !important








// ---------------------------------------------------------
// @Strokes
// ---------------------------------------------------------


.u-stroke-white-50
  stroke: $clr-white-50 !important
.u-stroke-white-100
  stroke: $clr-white-100 !important
.u-stroke-white-200
  stroke: $clr-white-200 !important
.u-stroke-white-300
  stroke: $clr-white-300 !important
.u-stroke-white-400
  stroke: $clr-white-400 !important
.u-stroke-white-500
  stroke: $clr-white-500 !important
.u-stroke-white-600
  stroke: $clr-white-600 !important
.u-stroke-white-700
  stroke: $clr-white-700 !important
.u-stroke-white-800
  stroke: $clr-white-800 !important
.u-stroke-white-900
  stroke: $clr-white-900 !important




.u-stroke-main
  stroke: $main !important




.u-stroke-pivotal
  stroke: $pivotal !important




.u-stroke-major
  stroke: $major !important




.u-stroke-minor
  stroke: $minor !important




.u-stroke-omitted
  stroke: $omitted !important




.u-stroke-muted
  stroke: $muted !important




.u-stroke-primary
  stroke: $primary !important




.u-stroke-secondary
  stroke: $secondary !important




.u-stroke-accent
  stroke: $accent !important



.u-stroke-accent-2
  stroke: $accent-2 !important




.u-stroke-error
  stroke: $error !important




.u-stroke-warning
  stroke: $warning !important




.u-stroke-success
  stroke: $success !important




.u-stroke-info
  stroke: $info !important








// ---------------------------------------------------------
// @Borders
// ---------------------------------------------------------

.u-border-white-50
  border-color: $clr-white-50 !important
.u-border-white-100
  border-color: $clr-white-100 !important
.u-border-white-200
  border-color: $clr-white-200 !important
.u-border-white-300
  border-color: $clr-white-300 !important
.u-border-white-400
  border-color: $clr-white-400 !important
.u-border-white-500
  border-color: $clr-white-500 !important
.u-border-white-600
  border-color: $clr-white-600 !important
.u-border-white-700
  border-color: $clr-white-700 !important
.u-border-white-800
  border-color: $clr-white-800 !important
.u-border-white-900
  border-color: $clr-white-900 !important



.u-border-main
  border-color: hsla(0, 0%, 100%, 0.1) !important




.u-border-pivotal
  border-color: $pivotal !important




.u-border-major
  border-color: $major !important




.u-border-minor
  border-color: $minor !important




.u-border-omitted
  border-color: $omitted !important




.u-border-muted
  border-color: $muted !important




.u-border-primary
  border-color: $primary !important




.u-border-secondary
  border-color: $secondary !important




.u-border-accent
  border-color: $accent !important



.u-border-accent-2
  border-color: $accent-2 !important




.u-border-error
  border-color: $error !important




.u-border-warning
  border-color: $warning !important




.u-border-success
  border-color: $success !important




.u-border-info
  border-color: $info !important
