// ---------------------------------------------------------
// @Table of Contents
// ---------------------------------------------------------

/**
 * + @Clearfix
 */








// ---------------------------------------------------------
// @Clearfix
// ---------------------------------------------------------

/**
 * Used with elements containing floats
 */

.u-clearfix
  clearfix()
