// ---------------------------------------------------------
// @Text Decoration
// ---------------------------------------------------------

.u-text-underline
  text-decoration: underline




.u-text-overline
  text-decoration: overline




.u-text-lineThrough
  text-decoration: line-through




.u-text-blink
  text-decoration: blink




.u-text-bare
  text-decoration: none
