
.c-main.o-stack.o-stack--nowrap.u-relative
  .o-block.u-p-small.u-width-100p
    .u-width-100p
      .o-grid.o-grid--smallGap.u-relative(class='_u-2/12@hd+ _u-3/12@xlg+ _u-4/12@md+ _u-6/12@sm+ _u-width-100p@sm-' masonry='{ itemSelector: ".o-grid__cell", columnWidth: ".c-Masonry__sizer", percentPosition: true }')
        .c-Masonry__sizer.u-absoulte
        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Default Buttons

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              div
                a.c-button(href='javascript:void(0)') Button
              div
                a.c-button.c-button--primary(href='javascript:void(0)') Button
              div
                a.c-button.c-button--secondary(href='javascript:void(0)') Button
              div
                a.c-button.c-button--accent(href='javascript:void(0)') Button
              div
                a.c-button.c-button--error(href='javascript:void(0)') Button
              div
                a.c-button.c-button--transparent(href='javascript:void(0)') Button







        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Button With Icon Before

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              div
                a.c-button(href='javascript:void(0)')
                  span.c-icon.c-icon--main add
                  span Button
              div
                a.c-button.c-button--primary(href='javascript:void(0)')
                  span.c-icon.c-icon--main add
                  span Button
              div
                a.c-button.c-button--secondary(href='javascript:void(0)')
                  span.c-icon.c-icon--main add
                  span Button
              div
                a.c-button.c-button--accent(href='javascript:void(0)')
                  span.c-icon.c-icon--main add
                  span Button
              div
                a.c-button.c-button--error(href='javascript:void(0)')
                  span.c-icon.c-icon--main add
                  span Button
              div
                a.c-button.c-button--transparent(href='javascript:void(0)')
                  span.c-icon.c-icon--main add
                  span Button









        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Button With Icon After

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              div
                a.c-button(href='javascript:void(0)')
                  span Button
                  span.c-icon.c-icon--main done
              div
                a.c-button.c-button--primary(href='javascript:void(0)')
                  span Button
                  span.c-icon.c-icon--main done
              div
                a.c-button.c-button--secondary(href='javascript:void(0)')
                  span Button
                  span.c-icon.c-icon--main done
              div
                a.c-button.c-button--accent(href='javascript:void(0)')
                  span Button
                  span.c-icon.c-icon--main done
              div
                a.c-button.c-button--error(href='javascript:void(0)')
                  span Button
                  span.c-icon.c-icon--main done
              div
                a.c-button.c-button--transparent(href='javascript:void(0)')
                  span Button
                  span.c-icon.c-icon--main done









        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Buttons With Label Before

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              div
                a.c-button.c-button--labeledBefore(href='javascript:void(0)')
                  i.c-button__label-icon.c-icon.c-icon--main favorite
                  | Labeled Before
              div
                a.c-button.c-button--labeledBefore.c-button--primary(href='javascript:void(0)')
                  i.c-button__label-icon.c-icon.c-icon--main favorite
                  | Labeled Before
              div
                a.c-button.c-button--labeledBefore.c-button--secondary(href='javascript:void(0)')
                  i.c-button__label-icon.c-icon.c-icon--main favorite
                  | Labeled Before
              div
                a.c-button.c-button--labeledBefore.c-button--warning(href='javascript:void(0)')
                  i.c-button__label-icon.c-icon.c-icon--main favorite
                  | Labeled Before
              div
                a.c-button.c-button--labeledBefore.c-button--error(href='javascript:void(0)')
                  i.c-button__label-icon.c-icon.c-icon--main favorite
                  | Labeled Before









        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Buttons With Label After

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              div
                a.c-button.c-button--labeledAfter(href='javascript:void(0)')
                  | labeled after
                  i.c-button__label-icon.c-icon.c-icon--main favorite
              div
                a.c-button.c-button--labeledAfter.c-button--primary(href='javascript:void(0)')
                  | labeled after
                  i.c-button__label-icon.c-icon.c-icon--main favorite
              div
                a.c-button.c-button--labeledAfter.c-button--secondary(href='javascript:void(0)')
                  | labeled after
                  i.c-button__label-icon.c-icon.c-icon--main favorite
              div
                a.c-button.c-button--labeledAfter.c-button--accent(href='javascript:void(0)')
                  | labeled after
                  i.c-button__label-icon.c-icon.c-icon--main favorite
              div
                a.c-button.c-button--labeledAfter.c-button--error(href='javascript:void(0)')
                  | labeled after
                  i.c-button__label-icon.c-icon.c-icon--main favorite









        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Icon Buttons

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              div
                a.c-button.c-button--icon.c-icon.c-icon--main(href='javascript:void(0)') face
              div
                a.c-button.c-button--icon.c-icon.c-icon--main.c-button--primary(href='javascript:void(0)') face
              div
                a.c-button.c-button--icon.c-icon.c-icon--main.c-button--secondary(href='javascript:void(0)') face
              div
                a.c-button.c-button--icon.c-icon.c-icon--main.c-button--accent(href='javascript:void(0)') face
              div
                a.c-button.c-button--icon.c-icon.c-icon--main.c-button--error(href='javascript:void(0)') face









        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Big Buttons

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              div
                a.c-button.c-button--big(href='javascript:void(0)') Button big
              div
                a.c-button.c-button--big.c-button--primary(href='javascript:void(0)') Button big
              div
                a.c-button.c-button--big.c-button--secondary(href='javascript:void(0)') Button big
              div
                a.c-button.c-button--big.c-button--accent(href='javascript:void(0)') Button big
              div
                a.c-button.c-button--big.c-button--error(href='javascript:void(0)') Button big
              div
                a.c-button.c-button--big.c-button--success(href='javascript:void(0)') Button big









        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Small Buttons

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              div
                a.c-button.c-button--small(href='javascript:void(0)') Button small
              div
                a.c-button.c-button--small.c-button--primary(href='javascript:void(0)') Button small
              div
                a.c-button.c-button--small.c-button--secondary(href='javascript:void(0)') Button small
              div
                a.c-button.c-button--small.c-button--accent(href='javascript:void(0)') Button small
              div
                a.c-button.c-button--small.c-button--error(href='javascript:void(0)') Button small
              div
                a.c-button.c-button--small.c-button--success(href='javascript:void(0)') Button small
              div
                a.c-button.c-button--small.c-button--info(href='javascript:void(0)') Button small
              div
                a.c-button.c-button--small.c-button--warning(href='javascript:void(0)') Button small
              div
                a.c-button.c-button--small.c-button--transparent(href='javascript:void(0)') Button small









        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Block Buttons

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              div
                a.c-button.c-button--block(href='javascript:void(0)') Button block
              div
                a.c-button.c-button--block.c-button--primary(href='javascript:void(0)') Button block
              div
                a.c-button.c-button--block.c-button--secondary(href='javascript:void(0)') Button block
              div
                a.c-button.c-button--block.c-button--accent(href='javascript:void(0)') Button block
              div
                a.c-button.c-button--block.c-button--error(href='javascript:void(0)') Button block
              div
                a.c-button.c-button--block.c-button--transparent(href='javascript:void(0)') Button block









        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Hollow Buttons

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              div
                a.c-button.c-button--hollow(href='javascript:void(0)') Button hollow
              div
                a.c-button.c-button--hollow.c-button--primary(href='javascript:void(0)') Button hollow
              div
                a.c-button.c-button--hollow.c-button--secondary(href='javascript:void(0)') Button hollow
              div
                a.c-button.c-button--hollow.c-button--accent(href='javascript:void(0)') Button hollow
              div
                a.c-button.c-button--hollow.c-button--error(href='javascript:void(0)') Button hollow








        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Disabled Buttons

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              div
                a.c-button.c-button--disabled(href='javascript:void(0)') Button disabled
              div
                a.c-button.c-button--disabled.c-button--primary(href='javascript:void(0)') Button disabled
              div
                a.c-button.c-button--disabled.c-button--secondary(href='javascript:void(0)') Button disabled
              div
                a.c-button.c-button--disabled.c-button--accent(href='javascript:void(0)') Button disabled
              div
                a.c-button.c-button--disabled.c-button--error(href='javascript:void(0)') Button disabled
              div
                a.c-button.c-button--disabled.c-button--transparent(href='javascript:void(0)') Button disabled









        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Horizontal Buttons Group

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              .c-button-group
                a.c-button.c-button--icon.c-icon.c-icon--main(href='javascript:void(0)') face
                a.c-button.c-button--icon.c-icon.c-icon--main(href='javascript:void(0)') favorite
                a.c-button.c-button--icon.c-icon.c-icon--main(href='javascript:void(0)') done









        .o-grid__cell
          .c-portlet.o-block.u-width-100p._u-width-100p.u-shadow-mini.u-bg-main
            .c-portlet__header.o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Vertical Buttons Group

            .c-portlet__content.o-block__cell.u-p-small.u-collapse._u-mb-mini
              .c-button-group.c-button-group--secondary.c-button-group--vertical
                a.c-button.c-button--icon.c-icon.c-icon--main(href='javascript:void(0)') face
                a.c-button.c-button--icon.c-icon.c-icon--main(href='javascript:void(0)') favorite
                a.c-button.c-button--icon.c-icon.c-icon--main(href='javascript:void(0)') done

