// ---------------------------------------------------------
// @Pixel to Em Function
// ---------------------------------------------------------

/**
 * Function used to convert number unit from `px` to `em`.
 */

-emify($value, $base = $em-base)
  unit($value / $base, 'em')
