
.c-main.o-stack.o-stack--nowrap.u-relative
  .o-block.u-p-small.u-width-100p
    .u-width-100p
      .c-Masonry.u-relative.o-grid.o-grid--smallGap(class='_u-3/12@hd+ _u-6/12@lg+ _u-width-100p@lg-'  masonry="{ itemSelector: '.o-grid__cell', columnWidth: '.c-Masonry__sizer', percentPosition: true }")
        .c-Masonry__sizer.u-absolute

        .o-grid__cell(class='u-width-100p@hd- u-width-100p@hd+')
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Extended Form

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              form.o-block.u-width-100.u-collapse._u-width-100p._u-mb-small(action='./' method='POST')


                .o-block__cell
                  p.u-mb-mini Date
                  .c-control.u-width-100p.c-control--boxed
                    span.c-icon.c-icon--main date_range
                    .c-control__input-box
                      input.c-control__input(type="week", name="", value="")
                    span.c-icon.c-icon--main expand_more

                .o-block__cell
                  p.u-mb-mini Files
                  .c-control.u-width-100p.c-control--boxed
                    span.c-icon.c-icon--main.u-font-medium cloud_upload
                    .c-control__input-box
                      label.c-control__fileInputHolder
                        input.c-control__input(type="file", name="", value="")
                    span.c-icon.c-icon--main.u-font-medium attachment

                .o-block__cell
                  p.u-mb-mini Auto Resize Textarea
                  .c-control.c-control--boxed.u-width-100p
                    .c-control__input-box
                      textarea.c-control__input.autoresizable(name="search", value="" placeholder='Say Hello')

                .o-block__cell
                  .o-stack.o-stack--center.o-stack--splitted
                    .o-stack__cell
                      label.c-checkable
                        input.c-checkable__input.c-checkable__input--checkbox(type='checkbox', name='', value='')
                        |  Checkbox Label Text
                        span.c-checkable__mask.c-checkable__mask--checkbox

                    .o-stack__cell
                      label.c-checkable
                        input.c-checkable__input.c-checkable__input--radio(type='radio', name='', value='', placeholder='')
                        |  Radio Label Text
                        span.c-checkable__mask.c-checkable__mask--radio



                .o-block__cell.u-flex.u-flexJustifyEnd
                  input(type='submit' class='c-button c-button--primary u-flexGrow-0' value='Submit Button')
                  input(type='reset' class='c-button c-button--error u-flexGrow-0 u-ml-tiny' value='reset Button')

        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Datepicker

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              .c-control.u-width-100p
                .c-control__input-box
                  input.c-control__input(type="text", name="", value="", class='datepicker' placeholder="Text Input Bottom Line")
        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Basic Text Input

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              .c-control.u-width-100p
                .c-control__input-box
                  input.c-control__input(type="text", name="", value="", placeholder="Text Input Bottom Line")





        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Boxed Input

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              .c-control.c-control--boxed.u-width-100p
                .c-control__input-box
                  input.c-control__input(type="number", name="", value="", placeholder="Number i.e. 3")





        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Basic Input With Left Addon

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              .c-control.u-width-100p
                span.c-icon.c-icon--main person
                .c-control__input-box
                  input.c-control__input(type="text", name="", value="Input Value")






        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Select Input

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              .c-control.u-width-100p
                .c-control__input-box
                  select.c-control__input(name="")
                    option Select...
                    option Option
                    option Option
                span.c-icon.c-icon--main expand_more





        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Boxed Input With Left Addon

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              .c-control.c-control--boxed.u-width-100p
                span.c-icon.c-icon--main person
                .c-control__input-box
                  input.c-control__input(type="text", name="", value="", placeholder='Boxed Input')





        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Basic Input With Left/Right Addons

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              .c-control.is-focused.is-valid.u-width-100p
                span.c-icon.c-icon--main email
                .c-control__input-box
                  input.c-control__input(type="email", name="", value="name@website.com", placeholder="name@website.com")
                span.c-icon.c-icon--main done





        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Input With Floating Label

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              .c-control.is-focused.is-invalid.u-width-100p
                .c-control__input-box
                  input.c-control__input(type="text", name="", value="")
                  span.c-control__label Floating Label
                span.c-icon.c-icon--main clear
                .c-control__helper.u-color-error Try Again





        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Week Input

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              .c-control.u-width-100p
                span.c-icon.c-icon--main date_range
                .c-control__input-box
                  input.c-control__input(type="week", name="", value="")
                .c-control__helper.u-color-info Choose From Dropdown





        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 File Upload Input

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              .c-control.u-width-100p
                span.c-icon.c-icon--main.u-font-medium cloud_upload
                .c-control__input-box
                  label.c-control__fileInputHolder
                    input.c-control__input(type="file", name="", value="")
                span.c-icon.c-icon--main.u-font-medium attachment





        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Checkboxes

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              label.c-checkable
                input.c-checkable__input.c-checkable__input--checkbox(type='checkbox', name='', value='')
                |  Checkbox Label Text
                span.c-checkable__mask.c-checkable__mask--checkbox





        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Radio Button

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              label.c-checkable
                input.c-checkable__input.c-checkable__input--radio(type='radio', name='', value='', placeholder='')
                |  Radio Label Text
                span.c-checkable__mask.c-checkable__mask--radio





        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Switches

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              .c-switch
                input#switcha.c-switch__input(type='checkbox')
                label.c-switch__rail.u-ws-nowrap(for='switcha')
                  span.c-switch__button
                  | Switch Text






        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Basic Form

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              form.o-block.u-width-100.u-collapse._u-width-100p._u-mb-small(action='./' method='POST')
                .o-block__cell
                  .c-control.u-width-100p
                    .c-control__input-box
                      input.c-control__input(type="email", name="search", value="" placeholder='Your Email')
                    span.c-icon.c-icon--main email

                .o-block__cell
                  .c-control.u-width-100p
                    .c-control__input-box
                      input.c-control__input(type="password", name="search", value="" placeholder='Password')
                    span.c-icon.c-icon--main lock

                .o-block__cell
                  .c-control.u-width-100p
                    .c-control__input-box
                      input.c-control__input(type="password", name="search", value="" placeholder='Repeat Password')
                    span.c-icon.c-icon--main lock

                .o-block__cell
                  input(type='submit' class='c-button c-button--block' value='Submit Button')





        .o-grid__cell
          .o-block.u-bg-main.u-shadow-mini.u-width-100p._u-width-100p
            .o-block__cell.u-px-small.u-py-tiny.u-border-bottom
              h5 Horizontal Form

            .o-block__cell.u-bg-main.u-py-medium.u-px-small
              form.o-block.u-width-100.u-collapse._u-width-100p._u-mb-small(action='./' method='POST')
                .o-block__cell
                  .o-stack.o-stack--nowrap.u-flexItemsBaseline
                    .o-stack__cell(class='u-2/12')
                      p You Email
                    .o-stack__cell.o-stack__cell--expanded.u-ml-small
                      .c-control.u-width-100p
                        .c-control__input-box
                          input.c-control__input(type="email", name="search", value="" placeholder='Your Email')
                        span.c-icon.c-icon--main email

                .o-block__cell
                  .o-stack.o-stack--nowrap.u-flexItemsBaseline
                    .o-stack__cell(class='u-2/12')
                      p Password
                    .o-stack__cell.o-stack__cell--expanded.u-ml-small
                      .c-control.u-width-100p
                        .c-control__input-box
                          input.c-control__input(type="password", name="search", value="" placeholder='Password')
                        span.c-icon.c-icon--main lock

                .o-block__cell
                  .o-stack.o-stack--nowrap.u-flexItemsBaseline
                    .o-stack__cell(class='u-2/12')
                      p Repeat Password
                    .o-stack__cell.o-stack__cell--expanded.u-ml-small
                      .c-control.u-width-100p
                        .c-control__input-box
                          input.c-control__input(type="password", name="search", value="" placeholder='Repeat Password')
                        span.c-icon.c-icon--main lock

                .o-block__cell.u-flex.u-flexJustifyEnd
                  input(type='submit' class='c-button c-button--primary u-flexGrow-0' value='Submit Button')






