
.c-main.o-stack.o-stack--nowrap.u-relative
  .c-chatDialog.o-stack__cell.o-stack__cell--expanded.u-border-top.u-bg-main.u-relative.u-overflow-auto( perfect-scrollbar='' ui-view='conversation' tuck='{ from: "1024px" }')
  #chatSidebar.c-chatSidebar.o-stack__cell.u-flexOrderFirst.u-border-top( class='u-height-100p@lg-' ui-view='persons' )
