section( class='o-grid o-grid--gapless _u-4/12@lg+ _u-6/12@lg- _u-width-100p@sm- u-text-center' id='tools' )
  .o-grid__cell
    .tools__item.u-p-big
      .u-mb-small
        img(src='views/scenes/landing/resources/images/ng.png' alt='#')
      h3 Angular 1.X
  .o-grid__cell
    .tools__item.u-p-big
      .u-mb-small
        img(src='views/scenes/landing/resources/images/g.png' alt='#')
      h3 Grunt
  .o-grid__cell
    .tools__item.u-p-big
      .u-mb-small
        img(src='views/scenes/landing/resources/images/pugjs.png' alt='#')
      h3 Pug
  .o-grid__cell
    .tools__item.u-p-big
      .u-mb-small
        img(src='views/scenes/landing/resources/images/postcss.png' alt='#')
      h3 PostCSS
  .o-grid__cell
    .tools__item.u-p-big
      .u-mb-small
        img(src='views/scenes/landing/resources/images/jq.png' alt='#')
      h3 jQuery
  .o-grid__cell
    .tools__item.u-p-big
      .u-mb-small
        img(src='views/scenes/landing/resources/images/ui.png' alt='#')
      h3 jQuery UI
